body {
  background-color: #FCF6F5;
  font-family: 'Monaco', monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

}

form {
  max-width: 500px;
  margin: auto;
  border-radius: 12px;
}

button {
  border-radius: 8px;
}
