body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif; /* You can change this below */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FCF6F5;
  position: relative;
  overflow: hidden;
}
body::before {
  content: "";
  background-image: url('https://media.licdn.com/dms/image/v2/D5612AQHJ4JMQKvFwpA/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1709617139736?e=2147483647&v=beta&t=zYP7vqo4oudV-Fc7hsuzb1r7E7MX9ndL1dVpn80ssd4'); 
  background-size: cover;
  background-position: center;
  opacity: 0.5; 
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;
}

h1 {
  color: #990011;
  font-size: 4rem;
  margin-bottom: 30px;
  font-family: 'Monaco', monospace;
}

body {
  background-color: #FCF6F5;
  font-family: 'Monaco', monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

}

form {
  max-width: 500px;
  margin: auto;
  border-radius: 12px;
}

button {
  background-color: #990011;
  color: #FCF6F5;
  border: none;
  padding: 15px 30px;
  font-size: 1.5rem;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #73605B;
}
